/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Центрирование элементов по высоте */
    background-color: #4CAF50;
    padding: 10px 20px;
    color: white;
}

header h1 {
    margin: 0;
}

/* Стили для навигации */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Центрирование ссылок по высоте */
    gap: 10px;
}

nav ul li {
    display: inline-block;
}

/* Общие стили для ссылок и кнопки выхода */
nav ul li a,
form .btn.btn-logout {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    border: 2px solid #333;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    display: inline-block; /* Важно для центровки кнопки */
}

nav ul li a:hover,
form .btn.btn-logout:hover {
    background-color: #555;
    color: white;
}

/* Перемещаем кнопку "Log Out" в правый верхний угол */
.logout {
    margin-left: auto;
}

main {
    padding: 20px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
