<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Заявка на урок</title>
  <link rel="stylesheet" href="styles-tables.css">
</head>
<body>

<h1>Заявка на урок</h1>

<!-- Блок для отображения ошибок -->
<div id="errorMessages">
  <ul>
    <th:block th:if="${errors}">
      <li th:each="error : ${errors}" th:text="${error}"></li>
    </th:block>
  </ul>
</div>

<form action="#" th:action="@{/submitRequest}" method="post">
  <div class="form-container">
  <div class="form-group">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required minlength="2">
  </div>

  <div class="form-group">
    <label for="subject">Предмет:</label>
    <input type="text" id="subject" name="subject" required>
  </div>

  <div class="form-group">
    <label for="date">Дата:</label>
    <input type="date" id="date" name="date" required>
  </div>

  <button class="btn" type="submit">Отправить заявку</button>
  </div>
</form>

<h1>Созданные заявки</h1>


<table class="styled-table">
        <thead>
        <tr>
            <th>Имя</th>
    <th>Предмет</th>
    <th>Дата</th></tr>

        </thead>
        <tbody>
        <tr th:each="request : ${requests}">
    <td th:text="${request.name}"></td>
    <td th:text="${request.subject}"></td>
    <td th:text="${request.date}"></td>
  </tr>

        </tbody>
    </table>

<!--
<table>
  <thead>
  <tr>
    <th>Имя</th>
    <th>Предмет</th>
    <th>Дата</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="request : ${requests}">
    <td th:text="${request.name}"></td>
    <td th:text="${request.subject}"></td>
    <td th:text="${request.date}"></td>
  </tr>
  </tbody>
</table>
-->
</body>
</html>
