<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заявка на урок</title>
    <link rel="stylesheet" href="styles-tables.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" th:href="@{header.css}">
</head>
<body>
    <th:block th:replace="~{header}"></th:block>
<h1>Заявка на урок</h1>

<div id="errorMessages">
    <ul>
        <th:block th:if="${errors}">
            <li th:each="error : ${errors}" th:text="${error}"></li>
        </th:block>
    </ul>
</div>

<form action="#" th:action="@{/submitRequest}" method="post">
    <div class="form-container">
        <div class="form-group">
            <label for="name">Имя:</label>
            <!-- Предзаполнение поля значением из cookie -->
            <input type="text" id="name" name="name" th:value="${savedName}" required minlength="2">


        </div>

        <div class="form-group">
            <label for="subject">Предмет:</label>
            <!-- Предзаполнение поля значением из cookie -->
            <input type="text" id="subject" name="subject" th:value="${savedSubject}" required>
        </div>

        <div class="form-group">
            <label for="date">Дата:</label>
            <!-- Предзаполнение поля значением из cookie -->
            <input type="date" id="date" name="date" th:value="${savedDate}" required>
        </div>

        <button class="btn" type="submit">Отправить заявку</button>
    </div>
</form>
    <div class="container">
<h1>Созданные заявки</h1>

<table class="styled-table">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Предмет</th>
        <th>Дата</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${requests}">
        <td th:text="${request.name}"></td>
        <td th:text="${request.subject}"></td>
        <td th:text="${request.date}"></td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>
