<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="lk.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">

</head>
<body>
<th:block th:replace="~{header}"></th:block>
<div class="profile-container">

        <h1 th:text="#{lk.myAccount}">Личный кабинет</h1>

    <section class="profile-info">
        <h2 th:text="#{lk.info}">Информация о пользователе</h2>

        <div class="profile-details">

            <div class="profile-item">
                <label for="full-name" th:text="#{lk.full_name}">Полное имя:</label>
                <p id="full-name"><span th:text="${full_name}"></span></p>
            </div>

            <div class="profile-item">
                <label for="email"  th:text="#{lk.email}">Электронная почта:</label>
                <p id="email"><span th:text="${email}"></span></p>
            </div>

            <div class="profile-item">
                <label for="created-at"  th:text="#{lk.registrationDate}">Дата регистрации:</label>
                <p id="created-at"><span th:text="${created_at}"></span></p>
            </div>

            <div class="profile-item">
                <label for="roles"  th:text="#{lk.roles}">Роли:</label>
                <p id="roles"><span th:each="role : ${localizedRoles}" th:text="${role}"></span></p>
            </div>
        </div>
    </section>
</div>
</body>
</html>
