<!DOCTYPE html>
<html lang="${#locale}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{header.css}">

    <title th:text="#{subjects.title}">Список предметов</title>
    <link rel="stylesheet" href="styles-tables.css">

</head>
<body>
<div><th:block th:replace="~{header}"></th:block></div>
<div class="container">


    <h1 th:text="#{subjects.title}">Список предметов</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th th:text="#{subjects.header}">Название предмета</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.name}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/?lang=' + ${#locale}}" class="btn" th:text="#{button.back}">Вернуться на главную</a>

</div>
</body>
</html>
