<!DOCTYPE html>
<html lang="${#locale}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{subjects.title}">Список предметов</title>
    <link rel="stylesheet" href="styles-tables.css"> <!-- Подключаем новый файл стилей -->
</head>
<body>
<div class="container">
    <th:block th:replace="~{header}"></th:block>

    <h1 th:text="#{subjects.title}">Список предметов</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th th:text="#{subjects.header}">Название предмета</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="subject : ${subjects}">
            <td th:text="${subject.name}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/?lang=' + ${#locale}}" class="btn" th:text="#{button.back}">Вернуться на главную</a>

</div>
</body>
</html>
