<!DOCTYPE html>
<html lang="${#locale}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{teachers.title}">Список учителей</title>
    <link rel="stylesheet" href="styles-tables.css"> <!-- Подключаем новый файл стилей -->
</head>
<body>


<div><th:block th:replace="~{header}"></th:block></div>
<div class="container">
    <h1 th:text="#{teachers.title}">Список учителей</h1>


    <table class="styled-table">
        <thead>
            <tr>
                <th th:text="#{teachers.header.id}">ID</th>
                <th th:text="#{teachers.header.firstName}">Имя учителя</th>
                <th th:text="#{teachers.header.secondName}">Фамилия учителя</th>
                <th th:text="#{teachers.header.email}">Email учителя</th>
            </tr>
        </thead>
        <tbody>
        <tr th:each="teacher : ${teachers}">
            <td th:text="${teacher.id}"></td>
            <td th:text="${teacher.firstName}"></td>
            <td th:text="${teacher.secondName}"></td>
            <td th:text="${teacher.email}"></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{'/?lang=' + ${#locale}}" class="btn" th:text="#{button.back}">Вернуться на главную</a>

</div>
</body>
</html>
